
.reservation_history_container { } 

/*링크 list or history*/
.reservation_history_container .reserv_page_link { width:fit-content; margin: 0 auto 50px auto; } 
.reservation_history_container .reserv_page_link span:nth-child(2) { padding-left: 2rem; } 
.reservation_history_container .reserv_page_link+div { width:fit-content; margin:1rem auto; } 

/*화이트박스*/
.reservation_history_container .white_box { padding-top: 1rem; padding-bottom: 5rem; min-width: 60rem; max-width: 80rem; width: 70%; margin: 10px auto 100px auto; } 
.reservation_history_container .white_box>div:first-child { font-size: 1.8rem; font-weight: 600; margin: 10px auto; width: fit-content; } 

/*검색바*/
.reservation_history_container .searchbar { width: 400px; margin: 10px auto 10px auto; display: flex; align-items: center; } 
.reservation_history_container .form-select { width: 90px; height: 30px; display: inline-flex; align-items: center; padding: 0 0 0 10px; } 
.reservation_history_container .input_search { width: 240px; height: 30px; margin-left: 40px; display: inline-flex; align-items: center; } 
.reservation_history_container .btn-outline-dark { width: 60px; height: 30px; margin-left: 10px; background-color: var(--btn-graycolor); display: inline-flex; align-items: center; } 

/*테이블*/
.reservation_history_container .table_container { width: 80%; margin: 50px auto 20px auto; font-family: 'Joong Na Joh'; font-weight: 500; } 
.reservation_history_container .table_container table { width:100%; } 

.reservation_history_container .table_container td:nth-child(n+6){text-align: center;}

/*테이블 th*/
.reservation_history_container .table_container thead { font-weight: 700; font-size: 1.2rem; border-bottom: solid 0.2rem #161515; } 
.reservation_history_container .table_container thead button {padding: 0 0; font-size: .8rem; } 

/*테이블 내용*/
.reservation_history_container .table_container tbody {font-size: .85rem;}
.reservation_history_container .table_container tbody>tr { height:2rem;}
.reservation_history_container .table_container tbody>tr>td:nth-child(n+2):nth-child(-n+7){border-bottom:  solid 0.1rem #9FA0A0;}
.reservation_history_container .table_container tbody>tr:first-child { height:1.2rem; border-bottom: none;}


/*테이블 내용 밑 경계*/
.reservation_history_container .table_container+div{border-bottom: solid 0.2rem #161515;
    margin:4rem 10%;
}



/*표밑 버튼*/
.reservation_history_container .submit_buttons{
    margin: 1rem 10% 4rem 10%;display: flex; align-items: center; justify-content :right;
}
.reservation_history_container .submit_buttons>div{margin:0 .5rem;}
.reservation_history_container .disable_button>div>div{ position: relative; top: 0.45rem;}