<?xml version="1.0" encoding="UTF-8"?>
<!--
   MemberDaoMapper.xml
   로그인 관련 DAO 쿼리 매핑
   
   작성자 : 이현수 yzhs.go@gmail.com
   작성일 : 2022-11-23, 최종수정 2022-11-26
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springreservation.web.dao.MemberDao">

    <resultMap type="com.springreservation.web.entity.Member" id="member">
            <id column="id" property="id"/>
            <result column="password" property="encodedPw" />
            <result column="reg_date" property="regDate" />
    </resultMap>

    <select id="findByLoginEmail" resultMap="member">
      SELECT 
         id,
         email,
         name,
         password,
         reg_date,
         (SELECT 
            role_name
         FROM 
            role r
            where r.id = role_id) AS role
      FROM member
      WHERE
        email = '${email}'
    </select>
    <select id="findByPhoneNumber" resultMap="member">
      SELECT 
         id,
         email,
         name,
         password,
         reg_date,
         (SELECT 
            role_name
         FROM 
            role r
            where r.id = role_id) AS role
      FROM member m
      WHERE
         phone = '${phone}'
    </select>

    <insert id="signup" parameterType="com.springreservation.web.entity.Member">

      INSERT INTO member(
         id, email, password, phone, name, role_id, reg_date
      )
      VALUES(
         member_seq.nextval,
         '${email}',
         '${encodedPw}',
         '${phone}',
         '${name}',
         (SELECT 
            id 
           FROM role 
           WHERE role_name= '${role}'
         ),
         sysdate
      )
    </insert>
</mapper>