<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springreservation.web.dao.ReservationDao">

  <resultMap type="com.springreservation.web.entity.Reservation" id="reservation">
    <id column="id" property="id" />
    <result column="reservation_name" property="reservationName" />
    <result column="time_open" property="timeOpen" />
    <result column="time_close" property="timeClose" />
    <result column="time_interval" property="timeInterval"/>
    <result column="minimum_order" property="minimumOrder" />
  </resultMap>

  <resultMap type="com.springreservation.web.entity.ReservationTime" id="reservationTime">
    <result column="reservation_name" property="reservationName" />
  </resultMap>


  <select id="getReservationNames" resultMap="reservation">
    SELECT id, reservation_name, time_open, time_close, time_interval, minimum_order
    FROM reservation
  </select>

  <select id="getReservationTimes" resultMap="reservationTime">
    SELECT time_start
    FROM time_policy t
    INNER JOIN reservation(id) r ON t.reservation_id
  </select>

  <select id="getReservedTimes" resultMap="reservationTime">
    SELECT time_start
    FROM time_policy t
    INNER JOIN order_time(t_id) ot ON t.id
    INNER JOIN order_detail(id) od ON ot.order_id
    WHERE od.reservation_date 
      BETWEEN 'TO_DATE('${startdate}', 'YYYYMMDD')' 
      AND TO_DATE('${enddate}', 'YYYYMMDD')
  </select>

</mapper>