/**
*
*
*
*/
.signup_container{
    width: 580px;
    margin: 100px auto 0 auto;
    background-color: white;
    border: 1px solid var(--YIfontcolor);
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.signup_container>div:first-child{
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    margin: 80px 18% 25px 18%;
}
.signup_container>div:first-child .signature_logo p{
    width: 70px;
    height: 50px;
    background-image: url("/images/logo/signature_yzhs-ptpt@1.5x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/***/

.signup_container form{ margin: 5px 18% 120px 18%; }
.signup_container form>div{ margin:0 0 18px 0;}
.signup_container form .btn{margin-top: 20px;}